<mat-card style="background-color: aquamarine;">
    <h1>Diet</h1>


<h4>Choose food</h4>

<mat-form-field appearance="fill">
  <mat-label>Food types</mat-label>
  <mat-select [(ngModel)]=selectedFood>
    <mat-option *ngFor="let food of foodList" [value]="food">
      {{food.foodName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<input  placeholder="Number of pieces" [(ngModel)]="numberOfEatenPieces" style="width:100px">

<button mat-raised-button color="accent" (click)="recordEatings()">Record eatings</button>

<ul>
    <li *ngFor="let food of eatenFoodsWithCalories"> {{food.foodName}} ilosc zjedzonych kalorii: {{food.caloriesEatenOnPieceOfFood}}</li>
</ul>
</mat-card>